<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content" class="container mt-5 animate__animated animate__fadeIn">
  <h1 class="mb-4 display-6 text-primary animate__animated animate__fadeInDown">Editar contactos</h1>

  <div class="card shadow-lg p-4 rounded-lg animate__animated animate__fadeInUp">
    <div class="card-body">
      <form th:action="@{/contactos/save}" th:object="${contacto}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del contacto" required>
        </div>

        <div class="form-group mb-3">
          <label for="numero" class="form-label">Número Telefónico</label>
          <input type="tel" class="form-control" th:field="*{numero}" id="numero" placeholder="Escriba el número telefónico" required>
        </div>

        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Escriba el correo electrónico" required>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="categoria">Categoria</label>
              <select class="form-control" th:field="*{categoria.id}" id="categoria" required>
                <option value="" disabled>Selecciona una categoria</option>
                <option th:each="c : ${categorias}"
                        th:value="${c.id}"
                        th:selected="${c.id} == *{categoria.id}"
                        th:text="${c.nombre}">
                </option>
              </select>
            </div>
          </div>
        </div>


        <div class="mt-4 d-flex align-items-center">
          <button type="submit" class="btn btn-primary shadow-sm rounded-pill me-3">Guardar Cambios</button>
          <a th:href="@{/contactos}" class="btn btn-outline-secondary shadow-sm rounded-pill">Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Estilos CSS y animaciones de Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style>
  .card {
    border-radius: 1rem;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .btn {
    transition: transform 0.3s ease;
  }

  .btn:hover {
    transform: translateY(-3px);
  }

  .animate__animated {
    animation-duration: 0.5s;
    animation-delay: 0.2s;
  }
</style>
